h1{
    background-color: orchid;
    font-weight:bold;
    color: white;
    font-size: 40px;
    width: 500px;
    height: 90px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.instructions,h2{
    background-color: aquamarine;
    font-weight: bold;
    color:black;
    font-size: 15;
    width: 500px
}

#randomnumber,.MatchthisNumber{
    color:white;
    font-size: 50px;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    float: left;
}

#one,#two,#three,#four{
    height: 100px;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.winsandlosses{
    float: left;
    background-color:lightcoral;
    width: 100px;
    height: 100px;
}

.crystals{
    clear: both;

}

.Total{
    background-color: palevioletred;
    width: 200px;
    height:200px;
}

#OverallTotal{
    font-weight: bold
}

body{
    background-image:url("../images/coolprint.png")
}
